@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --bgColor: rgb(43, 43, 43);
  --custom-base-font-size: 1.3rem;
  --custom-ul-vertical-margin: 1rem;
  --custom-secondary-li-font-size: 1.2rem;
  --custom-margin-top-headings: 3rem;
  --custom-code-border-radius: 0.25rem;
  --custom-aside-title-margin-top: 0.25rem;
  --custom-header-font: 'novelaregular', sans-serif;
  --custom-body-font: 'wotfardregular', sans-serif;
  --custom-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --sl-text-code-sm: 1.1rem;
}

@layer components {
  .gradient-header {
    @apply from-lime-700 bg-gradient-to-r via-lime-600 to-lime-400 bg-clip-text text-transparent drop-shadow-[0_2px_1px_rgba(0,0,0,0.3)]
  }
}

@theme {
  --animate-draw-circle: border 1500ms ease-in-out 1 forwards;
  --color-accent-200: hsl(224, 100%, 85%);
  --color-accent-600: hsl(234, 100%, 61%);
  --color-accent-900: hsl(230, 66%, 28%);
  --color-accent-950: hsl(229, 61%, 19%);
  --color-gray-100: hsl(220, 18%, 97%);
  --color-gray-200: hsl(220, 19%, 94%);
  --color-gray-300: hsl(223, 6%, 77%);
  --color-gray-400: hsl(227, 6%, 56%);
  --color-gray-500: hsl(222, 7%, 35%);
  --color-gray-700: hsl(225, 10%, 23%);
  --color-gray-800: hsl(224, 13%, 16%);
  --color-gray-900: hsl(228, 10%, 10%);
}

main {
  font-family: var(--custom-body-font);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--custom-margin-top-headings) !important;
  font-family: var(--custom-header-font);
}

li {
  font-size: var(--custom-base-font-size);
}

p {
  font-size: var(--custom-base-font-size); /* Adjust the font size as needed */
}

code {
  border-radius: var(--custom-code-border-radius);
}

@keyframes border {
  0% {
    box-shadow: 8px -8px 0 2px var(--bgColor), -8px -8px 0 2px var(--bgColor), -8px 8px 0 2px var(--bgColor), 8px 8px 0 2px var(--bgColor), 0 0 0 2px var(--bgColor);
  }
  25% {
    box-shadow: 0 -21px 0 2px var(--bgColor), -8px -8px 0 2px var(--bgColor), -8px 8px 0 2px var(--bgColor), 8px 8px 0 2px var(--bgColor), 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -21px 0 2px var(--bgColor), -21px 0px 0 2px var(--bgColor), -8px 8px 0 2px var(--bgColor), 8px 8px 0 2px var(--bgColor), 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -21px 0 2px var(--bgColor), -21px 0px 0 2px var(--bgColor), 0px 21px 0 2px var(--bgColor), 8px 8px 0 2px var(--bgColor), 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -21px 0 2px var(--bgColor), -21px 0px 0 2px var(--bgColor), 0px 21px 0 2px var(--bgColor), 16px 40px 0 2px var(--bgColor), 0 0 0 2px #fff;
  }
}
.animate-draw-circle {
  animation-name: border;
  animation-duration: 1500ms ease-in-out 1;
  animation-direction: forwards;
}

.sl-markdown-content ul {
  margin-bottom: var(--custom-ul-vertical-margin);
  list-style: inside;
  margin-left: 1rem;
}

.sl-markdown-content ul li ul {
  margin-top: 0.5rem;
}
.sl-markdown-content ul li ul li {
  margin-top: 0;
  font-size: var(--custom-secondary-li-font-size);
}

.landing-hero {
  font-family: var(--sl-font);
}

.sl-markdown-content :is(iframe):not(:where(.not-content *)) {
  width: 100%;
  height: revert-layer !important;
  box-shadow: var(--custom-box-shadow);
  border-radius: var(--custom-code-border-radius);
}

.sl-markdown-content ul,
.sl-markdown-content ul li .directory details
{
  margin-top: 0 !important;
  margin-bottom: 0;
}

.starlight-aside {
  border-radius: var(--custom-code-border-radius);
}

.starlight-aside__title {
  margin-top: var(--custom-aside-title-margin-top) !important;
}

.starlight-aside__content ul {
  margin-top: 1rem !important;
}

#code-playground-wrapper * {
  margin-top: 0;
}
