<!-- ---
import MonsterReveal from './react/MonsterReveal.tsx'
--- -->

<div class="relative p-8">
  <div>
    <slot />
  </div>

  <div class="absolute inset-0 border-2 border-gray-200 rounded-2xl shadow-2xl transition duration-500 backdrop-blur-lg !mt-0 dark:backdrop-blur-2xl dark:bg-white/5 dark:border-gray-700 hover:backdrop-blur-0 dark:hover:backdrop-blur-0 hover:cursor-pointer hover:shadow-sm">
  </div>
</div>
